@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
*{
  --cor-01:#F299B1;
  --cor-02:#F2A7BB;
  --cor-03:#BF046B;
  --cor-04:#CDC1D9;
  --cor-05:#212126;
}
